body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	min-height: 100vh;
	color: #bbb;
}

html {
	background: url('../tinified/background-image4.jpg');
	background-repeat: no-repeat;
	background-position  left;
	background-size: cover;
}

/* ============================== copyright ============================= */
span {
	opacity: .3;
}

.copyright {
	font-size: .9rem;
}
/* =========================================================================== */

.body-wrapper {
	width 100vw; /* why does width : 100% not work????? */
	max-width: 1280px;

	margin: 0 auto;

	min-height: 100vh;
	
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 2fr 1fr;
}

nav, .dvd {
	display: none;
}

.title-wrapper {
	grid-row: 3;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
}

.title {
	text-align: center;
	font-weight: 400;
}

.mobile-nav p {
	font-size: 1.2rem;
	margin-top: 0;
}

/* ======================================= synopsis modal ================================= */

.synopsis-modal {
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 5;
	overflow: hidden;
	background-color: rgba(8,8,6, .9);
}

.synopsis-modal-content {
	position: relative;
	top: 4rem;
}

.synopsis-mobile {
	display: flex;
	align-items: center;
	padding: 0 10%;
	grid-column: 1;
	grid-row: 1;
	text-align: center;
	border-radius: 10px;
}

.synopsis-mobile p {
	font-size: 1.1rem;
	letter-spacing: .3px;
	line-height: 1.5;
	color: #eee;
}

.close-synopsis-button {
	background-color: rgba(255, 255, 255, .8);
	color: black;
	z-index: 8;
	padding: 8px;
	border-radius: 10px;
	position: absolute;
	left: 90%;   /* 85% at mobile size??? */
	top: -15%;
	font-size: 1.5rem;

}

.close-synopsis-button:hover {
	cursor: pointer;
	background-color: #B0321C;
	color: white;
}


/* ================================= hamburger icon ===================================== */

.mobile-nav {
	height: 27px;
	width: 40px;
}

.hamburger {
	height: 9px;
	border-top: 3px solid #bbb;
}

.mobile-nav:hover, p.menu {
	cursor: pointer;
}

/* ============================== mobile navigation modal ================================= */

.hamburger-modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	overflow: hidden;
	background-color: rgba(23,51,70, .8);
}

.hamburger-modal-content {
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.hamburger-modal-content a {
	text-decoration: none;
	color: white;
	background-color: #949D44;
	padding: 8px;
	border-radius: 5px;


}

.hamburger-modal-content a:hover {
	color: #949D44;
	background-color: white;
	border-radius: 5px;
}

/* =========================================== trailer modal =============================== */

.trailer-modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	z-index: 5;
}

.trailer-modal-content {
	z-index: 6;
	position: relative;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, .7);
}

.close {
	background-color: rgba(255, 255, 255, .7);
	color: black;
	z-index: 10;
	padding: 8px;
	border-radius: 10px;
	position: absolute;
	left: 90%;   /* 85% at mobile size??? */
	top: 2%;
	font-size: 1.5rem;
}

.close:hover {
	cursor: pointer;
	color: white;
	background-color: #949D44;
}

.iframe-container {  
	position: relative;
  	height: 0;
  	overflow: hidden;
  	padding-bottom: 56.25%;

  	top: 50%;    /* center the iframe container within the modal container */
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.iframe-container iframe { 
  border: 1px solid white;
  position: absolute;
  width: 70%;
  height: 70%;

  top: 50%;   /* center the iframe withi the iframe container */
  left: 50%;
  transform: translate(-50%, -50%);
}



/* ========================================= Media Queries ====================================== */

@media all and (min-width: 650px){
	html {
		background-position: center center;
	}

	.title {
		padding-top: 4rem;
	}
}
	

@media all and (min-width: 800px){

	.body-wrapper {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.title-wrapper {
		grid-column: 2;
		display: flex;
		justify-content: center;
		align-items: flex-end;
	}

	.mobile-nav, .title-wrapper > p {
		display: none;
	}

	nav {
		grid-row: 3;
		grid-column: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding-left: 1rem;
		letter-spacing: 1px;
	}

	nav a {
		font-size: 1.1rem;
		text-decoration: none;
		color: #bbb;
	}

	nav a:hover {
		color: #949D44;
	}

	.dvd {
		grid-row: 3;
		grid-column: 3;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-end;
		padding: 1rem;
	}

	.dvd a {
		text-decoration: none;
		padding: 10px;
		color: #bbb;
		font-size: 1.2rem;
	}

	.dvd a:hover {
		background-color: #bbb;
		color: #000;
		border-radius: 5px;
	}

	
}


















}

