/* =============================== global styles ======================= */

body, html {
	height: 100%;
	margin:0;
	font-size: 16px;
	font-family: 'Oswald', sans-serif;
	line-height: 1.8em;
	color: #666;
}

/* ======================== general typography styles ======================== */

.script {
	font-family: 'Great Vibes', cursive;
}

.section-text {
	letter-spacing: 3px;
}

h2.script {
	font-size: 2.5rem;
	letter-spacing: 8px;
}

h2.big-day {
	font-size: 2rem;
	letter-spacing: 8px;
}

/* ========================= background images ========================= */

.pimg1, .pimg2, .pimg3, .pimg4 {
	position: relative;
	opacity: 0.7;
	background-position center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;

	/* 
		background-attachment:fixed ----> parallax
		background-attachment:scroll ----> normal 
	*/
}

.pimg1 {
	background-image: url('../images/rosepetals.jpg');
	min-height: 100%;
	background-position top left;
}

.pimg2 {
	background-image: url('../images/woodenheart.jpg');
	min-height: 100%;
	background-position: left;
}


.pimg3 {
	background-image: url('../images/citystreet.jpg');
	min-height: 100%;
	background-position: top center
}

.pimg4 {
	background-image: url('../images/img4.jpg');
	min-height: 100%;
}

/* ================================================================== */

.section {
	text-align: center;
	padding: 50px 30px; /* change to 80 later */
}

.section-light {
	background-color: #f4f4f4;
	color: #666;
}

.section-dark {
	background-color: #282e34;
	color: #ddd;
}

.ptext {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	color: #000;
	font-size: 27px;
	letter-spacing: 9px;
}

.ptext1 {
	top: 75%;
	font-size: 3rem;
}

.ptext2 {
	border 1px solid purple;
	width: 100%;
	top: 80%;
	font-size: 3rem;
}

button.section-text {
	padding: 15px;
	border-radius: 12px;
	background-color: #b89cc3;
	background-color: #cb3273;
	color: #fff;
	border: 1px solid #fff;
	transition: all .2s ease;
}

button.section-text:hover {
	background-color: #e490b4;
	transition: all .2s ease;

}

.ptext4 {
	top: 70%;
}

.border {
	background-color: #111;
	color: #fff;
	padding: 20px;
}

.trans {
	background-color: transparent;
}

/* =============================== rsvp modal ============================= */

.modal {
	display: none;
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, .8);
	background-color: rgba(8, 15, 49, .8);
}

.modalContent {
	padding: 10px;
	background-color: #fff;
	width: 50%;
	height: 50%;
	margin: 10% auto;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
	
}

.form-container {
	position: relative;
	display: grid;
	justify-content: center;
	align-items: center;
	height: 100%;
	border: 1px solid #acb8f1;
}

.close {
	font-size: 3.5rem;
	position: absolute;
	left: 95%;
}

.close:hover, .close:focus {
	color: #acb8f1;
	text-decoration: none;
	cursor: pointer;
}

.name-label {
	margin-right: 5px;
}

/* ==================================== Media Queries =================================*/

@media all and (min-width: 568px){

	.pimg1, .pimg2, .pimg3, .pimg4 {
		background-attachment: fixed;
		overflow: hidden;
	}

	.section {
		padding: 50px 80px;
	}

}

@media all and (min-width: 700px){
	.ptext2 {
		width: 90%; 
		left: 10%;
		font-size: 4rem;
	}
}















