/* ===================== ========global styles ==============================*/

body {
	font-family: 'Cormorant', serif;
}

.container-fluid {
	padding-top: 70px;
	padding-bottom: 70px;
}

h2 {
	font-weight: 500;
}

h3 {
	font-weight: 500;
}

p {
	font-size: 1.2rem;
}

/* ================================ navbar styles ==============================*/

.navbar {
	padding-top: 15px;
	padding-bottom: 15px;
	border: 0;
	border-radius: 0;
	margin-bottom: 0;
	font-size: 1rem;
	letter-spacing: 5px;
}


/* ============================== who am i section styles ========================*/

.bg-1 {
	background-color: #e6e2e8;
}

.who-section-border {
	border: 3px double #030c28;
}

.profilepic {
	width: 200px;
	border: 2px solid white;
	margin-top: .5rem;
	margin-bottom: 2rem;
}

/* =============================== what am i section styles ===============================*/

.bg-2 {
	background-color: #f9f9f9;
}

i {
	margin-right: 10px;
}

.bg-2 p {
	padding: 10px 300px;
}

/* ====================================== where to find me section styles =====================*/

.bg-3 {
	background-color: #030c28;
	background-color: #82718f;
}

h3.findme {
	margin-bottom: 3rem;
	color: #f9f9f9;
}

/* ================================== footer styles ========================*/

.bg-4 {
	background-color: #030c28;
	color: #f9f9f9;
}

.light {
	color: #f9f9f9;
}







