body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	background-color: #1A1A1A;
	color: #ccc;
	font-size: 1.2rem;
	font-family: Lato;
}

.body-container {
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto auto;  /* i changed the first row to auto */
	padding-top 1.5rem;
}

h1 {
	margin: 0;
	padding: .5rem 0 .5rem 1.5rem;
}

header {
	padding-bottom: .5rem;
	padding: .5rem 0;

	
	display: flex;
	align-items: center;
	background-color: #1a1a1a;

	background-color: rgba(26, 26, 26, .9);


	position: -webkit-sticky;
		position: -moz-sticky;
		position: -o-sticky;
		position: -ms-sticky;
		position: sticky;
		top: 0;
		z-index: 9;
}

/* ====================================== BRAND LOGO ================================= */

.brand {
	flex-grow: 2;
}

.tng {
	margin: 0;
	letter-spacing: 5px;
	font-size: 2rem;
	font-family: 'Arizonia', cursive;
}

.avphoto {
	display: block;
	font-size: 1rem;
	font-weight: 300;
	letter-spacing: 1.7px;
	margin-left: 7px;
}

/* =============================== MOBILE NAVIGATION ================================== */

.mobile-nav-icon {
	border-radius: 4px;
	margin-right: 1.5rem;
	height: 33px;
	width: 33px;
	padding: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	transition: all .3s ease;
}

.mobile-nav {
	display: none;

	/* why is this not working to create a slide down effect???? */
	height: 0;
	transition:  1s ease;
}

.mobile-nav a {
	color: white;
	text-decoration: none;
	padding: 10px;
}

/* This class gets added/removed with javascript. This is the mobile menu */
.display-mobile {
	padding: 2rem 0;
	background-color: rgba(43, 43, 43, .9);
	height: 200px;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 25;
}

.btn-close {
	position: absolute;
	font-size: 2.5rem;
	top: 10px;
	right: 10px;
}

.hamburger {
	border-top: 2px solid #ccc;
}

.mobile-nav-icon:hover, .mobile-nav-icon:focus {
	border-radius: 4px;
	background-color: rgba(255, 255, 255, .3);
}

.mobile-nav a:hover, .mobile-nav a:focus {
	color: #9E4C48;
}

/* ==================================== STANDARD NAVIGATION ============================= */

nav {
	flex-grow: 1;
	display: none;
}

ul {
	display: flex;
	justify-content: space-around;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

nav a {
	font-size: 1rem;
	padding: 15px;

	display: block;
	text-decoration: none;
	color: #ccc;
	float: left;
}

nav a:hover, nav a:focus {
	border-bottom: 2px solid #9E4C48;
}

/* ===================================== MAIN SECTION =================================== */

.main {
	border 1px solid red;

	margin-bottom: 1.2rem;
	background-image: url('../images/black-linen.png');
	background-color: #1a1a1a;
}

.galleries {
	border 1px solid pink;
	padding: 1rem;
	max-width: 1583px;
	
	margin: 2rem auto;
}

.gallery figure {
	display: flex;
	align-items: center;
	position: relative;
	border: 1px solid white;
	max-width: 100%;
	margin: 0 auto 3rem auto;
}

.gallery figure img {
	max-width: 100%;
}


/* =============================== SOCIAL MEDIA ICONS ================================== */

.social-media {
	margin: 0 auto 1rem auto;

}
.social-link {
	padding: .5rem;
}

.social-media a {
	padding: .5rem;
	color: rgba(204, 204, 204, 1);
}

.social-media a:hover {
	color: #9E4C48;
}

/* =========================================== FOOTER ==================================== */

footer {
	margin-bottom: 1rem;
}

.copyright {
	color: rgba(204, 204, 204, .4);
	letter-spacing: 1px;
	padding: 0 1.5rem;
	text-align: center;
	font-size: .8rem;
	margin-top: 0;
}

.copyright a {
	text-decoration: none;
	color: rgba(204, 204, 204, .5);
}

.copyright a:hover {
	color: #9E4C48;
}


/* ========================================= MEDIA QUERIES ============================================ */

@media screen and (min-width: 400px){
	.tng {
		font-size: 2.8rem;
	}

	.avphoto {
		margin-left: 33px;
	}
}

@media screen and (min-width: 700px){
	
	.mobile-nav {
		display: none;
	}

	.mobile-nav-icon {
		display: none;
	}

	nav {
		display: block;
	}

	.galleries {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-row-gap: 1rem;
		grid-column-gap: 1rem;
	}

	
	.gallery figure {
		margin: 0 auto;
	}
}

@media all and (min-width: 800px){
	nav a {
		letter-spacing: .5px;
		font-size: 1.1rem;
		padding: 15px;
	}
}

@media screen and (min-width: 950px){
	.avphoto {
		margin-left: 193px;
	}
}

@media screen and (min-width: 1000px){
	.galleries {
		grid-template-columns: 1fr 1fr 1fr;
	}
}














